body {
  background-color: papayawhip;
}

h1{
  text-align: center;
  font-family: Veranda;
  color: lavender;
}

#deck-container {

  position: relative;
  height: 500px;
  width: 500px;
  background-color: white;
  border: 3 px ivory;
}
img {
  height: 200px;
  width: 175px;
}
