body {
  background-color: papayawhip;
}

h1{
  text-align: center;
  font-family: Veranda;
  color: white;
}

#deck-container {

  position: relative;
  height: 500px;
  width: 500px;
  background-color: pink;
  border: 3 px ivory;
}
