.board {
  /*height: 500px;*/
  margin: auto;
  width: 500px;
  background-color: papayawhip;
}

.space {
  background-color: white;
  border: 2px solid black;
  height: 50px;
  width: 50px;
}

.column {
  float: left;
}

.red-player {
  background-color: red;
  height: 45px;
  width: 45px;
  
}
